$rm-0-5: .5rem;
$rm-0-75: .75rem;
$rm-1: 1rem;
$rm-1-5: 1.5rem;
$rm-2: 2rem;
$rm-3: 3rem;


// Small tablets and large smartphones (landscape view)
$screen-sm-min: 375px;
$screen-sm-max: 767px;

// Tablets and small desktops
$screen-lg-min: 768px;


// colors
$white: #fff;