$rm-0-5: .5rem;
$rm-0-75: .75rem;
$rm-1: 1rem;
$rm-1-5: 1.5rem;
$rm-2: 2rem;
$rm-2-5: 2.5rem;
$rm-3: 3rem;


// Small tablets and large smartphones (landscape view)
$screen-sm-min: 375px;
$screen-sm-max: 767px;

// small desktops
$screen-lg-min: 1282px;

// Tablets
$screen-md-min: 768px;
$screen-md-max: 1281px;


// colors
$white: #fff;
$black: #191A23;
$green: #B9FF66;
$light-green: #B9FF50;
$gray: #F3F3F3;
$dark: #292A32;