.cases{
  @include sm{
    margin: $rm-1 $rm-1-5;
    display: flex;

    &__content{
      background-color: $black;
      border-radius: $rm-2-5;
      padding: $rm-2;
      width: 17rem;
      height: 12rem;
      margin-right: .3rem;
    }

    &__description{
      color: $white;
      font-size: $rm-0-75;
    }

    &__btn{
      display: flex;
      align-items: center;
      margin-top: $rm-1;

      &__text{
        color: green;
      }
    }
  }
}