@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
// Color system
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$overlay : rgba(0,0 ,70,0.5) !default;

$blue: #63b3ed !default;
$indigo: #596cff !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #f56565 !default;
$orange: #fd7e14 !default;
$yellow: #fbd38d !default;
$green: #81e6d9 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$primary: #cb0c9f !default;
$secondary: #8392ab !default;
$info: #17c1e8 !default;
$success: #82d616 !default;
$warning: #fbcf33 !default;
$danger: #ea0606 !default;
$light: $gray-200 !default;


// Gradient colors
$primary-gradient: #7928ca !default;
$primary-gradient-state: #ff0080 !default;

$secondary-gradient: #627594 !default;
$secondary-gradient-state: #a8b8d8 !default;

$info-gradient: #2152ff !default;
$info-gradient-state: #21d4fd !default;

$success-gradient: #17ad37 !default;
$success-gradient-state: #98ec2d !default;

$danger-gradient: #ea0606 !default;
$danger-gradient-state: #ff667c !default;

$warning-gradient: #f53939 !default;
$warning-gradient-state: #fbcf33 !default;

$dark-gradient: #141727 !default;
$dark-gradient-state: #3a416f !default;

$light-gradient: #ced4da !default;
$light-gradient-state: #ebeff4 !default;

$dark-gradient-dark: #323a54 !default;
$dark-gradient-state-dark: #1a2035 !default;

$green-gradiant: linear-gradient(
  to left,
  $success-gradient,
  $success-gradient-state
);

// Body
$body-bg: $gray-100 !default;

// Style p element.
$paragraph-margin-bottom: 1rem !default;

// border
$border-width: 1px !default;
$border-color: $gray-300 !default;

$border-radius-xs: 0.125rem !default;
$border-radius-sm: 0.25rem !default;
$border-radius-md: 0.5rem !default;
$border-radius-lg: 0.75rem !default;
$border-radius-xl: 1rem !default;
$border-radius-2xl: 1.5rem !default;
$border-radius-section: 10rem !default;

// box shadow
$box-shadow-xs: 0 2px 9px -5px rgba($black, 0.15) !default;
$box-shadow-sm: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12),
  0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07) !default;
$box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.12) !default;
$box-shadow-lg: 0 8px 26px -4px rgba(20, 20, 20, 0.15),
  0 8px 9px -5px rgba(20, 20, 20, 0.06) !default;
$box-shadow-xl: 0 23px 45px -11px rgba(20, 20, 20, 0.25) !default;
$box-shadow-inset: inset 0 1px 2px rgba($black, 0.075) !default;

// font family
$font-family-sans-serif: "Open Sans" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace !default;

// $font size
$font-size-root: null !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-xxs: $font-size-base * 0.65 !default;
$font-size-xs: $font-size-base * 0.75 !default;
$font-size-sm: $font-size-base * 0.875 !default;
$font-size-lg: $font-size-base * 1.125 !default;
$font-size-xl: $font-size-base * 1.25 !default;
$font-size-2xl: $font-size-base * 1.5 !default;
$font-size-3xl: $font-size-base * 1.875 !default;
$font-size-4xl: $font-size-base * 2 !default;
$font-size-5xl: $font-size-base * 2.25 !default;
$font-size-6xl: $font-size-base * 3 !default;
$font-size-7xl: $font-size-base * 3.75 !default;
$font-size-8xl: $font-size-base * 4 !default;
$font-size-9xl: $font-size-base * 5 !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`

$h1-font-size: $font-size-base * 3 !default;
$h2-font-size: $font-size-base * 2.25 !default;
$h3-font-size: $font-size-base * 1.875 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;
$lead-font-size: $font-size-base * 1.25 !default;

$text-sm-font-size: 0.875rem !default;
$text-xs-font-size: 0.75rem !default;
$p-font-size: 1rem !default;

// font weight
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 600 !default;
$font-weight-bolder: 700 !default;

$h1-font-weight: $font-weight-bold !default;
$h2-font-weight: $font-weight-bold !default;
$h3-font-weight: $font-weight-bold !default;
$h4-font-weight: $font-weight-bold !default;
$h5-font-weight: $font-weight-bold !default;
$h6-font-weight: $font-weight-bold !default;
$p-font-weight: $font-weight-normal !default;
$lead-font-weight: $font-weight-normal !default;
$text-sm-font-weight: $font-weight-normal !default;
$text-xs-font-weight: $font-weight-normal !default;

// line height
$line-height: 1.75rem !default;
$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

$h1-line-height: 1.25 !default;
$h2-line-height: 1.3 !default;
$h3-line-height: 1.375 !default;
$h4-line-height: 1.375 !default;
$h5-line-height: 1.375 !default;
$h6-line-height: 1.625 !default;
$p-line-height: 1.6 !default;
$lead-line-height: 1.625 !default;
$text-sm-line-height: 1.5 !default;
$text-xs-line-height: 1.25 !default;

// text gradient
$text-gradient-bg-clip: text !default;
$text-gradient-text-fill: transparent !default;
$text-gradient-position: relative !default;
$text-gradient-zindex: 1 !default;
$text-gradient-bg-primary: linear-gradient(310deg, #7928ca, #ff0080) !default;
$text-gradient-bg-info: linear-gradient(310deg, #2152ff, #21d4fd) !default;
$text-gradient-bg-success: linear-gradient(310deg, #17ad37, #c1e823) !default;
$text-gradient-bg-warning: linear-gradient(310deg, #f53939, #fbcf33) !default;
$text-gradient-bg-danger: linear-gradient(310deg, #d60808, #ff6690) !default;
$text-gradient-bg-dark: linear-gradient(310deg, #141727, #3a416f) !default;

// Letter Spacing
$letter-wider: 0.05rem !default;
$letter-normal: 0rem !default;
$letter-tighter: -0.05rem !default;
$h1-letter-spacing: 0.1rem !default;
$a-letter-spacing: -0.025rem !default;

// Tables
$table-head-spacer-y: 0.75rem !default;
$table-head-spacer-x: 1.5rem !default;
$table-head-font-size: 0.65rem !default;
$table-head-font-weight: $font-weight-bold !default;
$table-head-text-transform: capitalize !default;
$table-head-letter-spacing: 0px !default;
$table-head-bg: $gray-100 !default;
$table-head-color: $gray-600 !default;

$table-body-font-size: 0.8125rem !default;

$table-border-width: $border-width !default;
$table-border-color: $gray-200 !default;

// inputs
$input-btn-padding-y: 0.5rem !default;
$input-btn-padding-x: 0.75rem !default;
$input-btn-font-family: null !default;
$input-btn-font-size: 1rem !default;
$input-btn-line-height: 1.4 !default;

$input-btn-focus-width: 0.2rem !default;
$input-btn-focus-color-opacity: 0.25 !default;

$input-btn-padding-y-sm: 0.25rem !default;
$input-btn-padding-x-sm: 0.75rem !default;
$input-btn-font-size-sm: 0.75rem !default;

$input-btn-padding-y-lg: 0.75rem !default;
$input-btn-padding-x-lg: 0.75rem !default;
$input-btn-font-size-lg: 0.875rem !default;

$input-btn-border-width: $border-width !default;

// buttons
$btn-padding-y: 0.75rem !default;
$btn-padding-x: 1.5rem !default;
$btn-font-family: $input-btn-font-family !default;
$btn-font-size: $text-xs-font-size !default;
$btn-line-height: $input-btn-line-height !default;
$btn-white-space: null !default; // Set to `nowrap` to prevent text wrapping
$btn-letter-spacing: -0.025rem !default; // Set to `nowrap` to prevent text wrapping

$btn-margin-bottom: 1rem !default;
$btn-padding-y-sm: 0.5rem !default;
$btn-padding-x-sm: 2rem !default;
$btn-font-size-sm: $input-btn-font-size-sm !default;

$btn-padding-y-lg: 0.875rem !default;
$btn-padding-x-lg: 4rem !default;
$btn-font-size-lg: 0.875rem !default;

$btn-border-width: $input-btn-border-width !default;

$btn-font-weight: $font-weight-bolder !default;
$btn-box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.11),
  0 2px 4px -1px rgba(0, 0, 0, 0.07) !default;
$btn-box-shadow-values: 0 5px 8px 0 !default;
$btn-box-shadow-hover-values: 0 8px 10px 0 !default;
$btn-hover-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.09),
  0 2px 3px -1px rgba(0, 0, 0, 0.07) !default;
$btn-focus-box-shadow: $btn-hover-box-shadow !default;
$btn-focus-width: $input-btn-focus-width !default;
$btn-hover-opacity: 0.85 !default;
$btn-disabled-opacity: 0.65 !default;
$btn-active-box-shadow: none !default;
$btn-background-size: 150% !default;
$btn-hover-transform: scale(1.02) !default;
$btn-active-hover-transform: scale(1) !default;
$btn-background-position-x: 25% !default;
$btn-link-disabled-color: $gray-600 !default;

$btn-block-spacing-y: 0.5rem !default;

// breakpoints
// media queries
$sm-min: "375px";
$sm-max: "599px";

$md-min: "600px";
$md-max: "1280px";

$lg-min: "1281px";

// spacing
$rm-0-5: 0.5rem;
$rm-0-75: 0.75rem;
$rm-1: 1rem;
$rm-1-5: 1.5rem;
$rm-2: 2rem;
$rm-2-5: 2.5rem;
$rm-3: 3rem;
