@include lg {
  .faq {
    &__content {
      padding: $rm-2 $rm-2;
      margin-bottom: $rm-1-5;
      background-color: $gray;
      transition: all .3s ease-in-out;

      &--show {
        height: 15rem;
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__title {
        display: flex;
        align-items: center;

        &__num {
          font-size: $rm-3;
          font-weight: 800;
          margin-right: $rm-2;
        }

        &__text {
          font-size: $rm-1-5;
          font-weight: 600;
        }
      }
    }

    &__icon {
      width: $rm-3;
      height: $rm-3;
      border-radius: 50%;
      border: 1px solid $black;
      display: flex;
      justify-content: center;
      align-items: center;

      &__item {
        font-size: $rm-3;
        cursor: pointer;
      }
    }

    &__description {
      margin-top: $rm-2;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 1rem;
        border-bottom: 1px solid $black;
        margin-top: -2rem;
      }
    }
  }
}