.form {
  background-color: $gray;
  padding: $rm-2 $rm-3;
  border-radius: $rm-2-5;
  @include lg {
    display: grid;
    grid-template-columns: repeat(2, 46rem);
  }

  &__info {
    margin-top: $rm-1-5;
    display: flex;
    flex-direction: column;
    width: 60%;

    & label {
      margin-bottom: $rm-0-75;
    }
  }

  &__input, &__text {
    border: 1px solid $black;
    border-radius: $rm-1;
    padding: $rm-1;
  }

  &__btn {
    width: 60%;
    margin-top: $rm-1-5;
    background-color: $black;
    color: $white;

    &--mobile {
      display: none;
    }
  }
}