@include md{
  .nav{
    margin-block: $rm-1-5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
      &__item{
        &--desktop{
          display: none;
        }
      }
    }

    &__content {
      &--desktop {
        display: none;
      }

      &--mobile {
        padding: $rm-1-5;
        position: absolute;
        inset: 0 auto auto 0;
        background-color: $white;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
      }
    }

    &__close {
      width: 9rem;
      height: $rm-1-5;
      position: absolute;
      inset: $rm-1-5 -2.5rem auto auto;
      cursor: pointer;
    }

    &__links {
      margin-top: $rm-3;
    }

    &__items {
      padding: $rm-1 0;
      cursor: pointer;
    }

  }
}