$white: #fff;
$off-black: #000;
$black: #333;

$rm-0-5: 0.5rem;
$rm-0-75: 0.75rem;
$rm-1: 1rem;
$rm-1-5: 1.5rem;
$rm-2: 2rem;
$rm-2-5: 2.5rem;
$rm-3: 3rem;


// Small tablets and large smartphones (landscape view)
$screen-sm-min: 375px;
$screen-sm-max: 767px;

// Tablets
$screen-md-min: 768px;
$screen-md-max: 1281px;

// desktops
$screen-lg-min: 1282px;