@include md{
  .headings{
    margin-block: 4rem;
    display: flex;
    align-items: center;
    &__title{
      background-color: $green;
      margin-right: $rm-0-75;
    }
    &__description{
      font-size: $rm-0-75;
    }
  }
}