$blue: #1D4ED8;
$light-blue: #55CBFB;
$dark-blue: #173EAD;
$gray-blue: #4B5768;
$white: #F7F8F9;
$gray:#A8A8A8;


$rm-0-5: .5rem;
$rm-0-75: .75rem;
$rm-1: 1rem;
$rm-1-5: 1.5rem;
$rm-2: 2rem;
$rm-2-5: 2.5rem;
$rm-3: 3rem;